<ion-view class="homeDetail">
    <ion-content>
        <img class="image" src="images/1.png">
        <div class="goods-detail">
            <div class="heardBox">
                <p>阳澄湖大闸蟹阳澄湖大闸蟹阳澄湖大闸蟹阳澄湖大闸蟹阳澄湖大闸蟹</p>
                <div ng-click="homeDetail.change()" ng-if="!homeDetail.collect">
                    <img src="images/collectStar.png"><span>收藏</span>
                </div>
                <div ng-click="homeDetail.change()" ng-if="homeDetail.collect">
                    <img src="images/redStar.png"><span>收藏</span>
                </div>
            </div>
            <div class="price">
                <span>¥128/斤</span><del>原价:148/斤</del>
            </div>
            <div class="sales"><span>运费:8.00元</span><span>销量:1890件</span><span>广州</span></div>
        </div>
        <div class="goodsNum" ng-click="homeDetail.shopNum($event)">
            <span>数量:1</span>
            <img class="GT" src="images/numsArrow.png">
        </div>
        <div class="goodsInfo" ng-click="homeDetail.changeDetail($event)">
            <div class="active">商品详情</div>
            <div>商品参数</div>
            <div>评价(88)</div>
        </div>
        <div ng-include="homeDetail.goodsDetail"></div>

    </ion-content>
    <ion-footer-bar>
        <div class="backHome" ng-click="homeDetail.backHome()">
            <img src="images/shomepage.png">
            <span>首页</span>
        </div>
        <div class="backCart"  ng-click="homeDetail.openShopCart()">
            <img src="images/sshopCar.png">
            <span>购物车</span>
        </div>
        <div ng-click="homeDetail.shopNum($event)" ng-if="!homeDetail.gSellOut" class="btnCart">加入购物车</div>
        <div ng-if="!homeDetail.gSellOut" class="btnShop">立即购买</div>
        <div ng-if="homeDetail.gSellOut" class="sellOut">已售罄</div>
    </ion-footer-bar>
</ion-view>