<ion-view class="integral">
    <ion-header-bar class=" integral-bar">
        <img class="integral-tabImg" src="images/logo.png">
        <div class="integral-tabput">
            <input type="search" placeholder="例:大闸蟹">
            <i class=" icon ion-ios-search-strong placeholder-icon"></i>
        </div>
        <img ng-click="integral.toggleRight()" class="IconRow" src="images/sidelist.png">
        <!--<button ng-click="integral.toggleRight()" class="button button-icon ion-navicon-round pull-right"></button>-->
    </ion-header-bar>
    <ion-content>
        <mg-slide-box source-array="integral.autoImg"></mg-slide-box>
        <div class="content">
            <div class="text">
                <img src="images/2.png">
            </div>
            <div class="list">
                <!--商品列表详情-->
                <div ng-click="integral.openDetail()" class="listLeft" ng-repeat="goods in integral.goods">
                    <div class="commodity">
                        <div class="commImgBox">
                            <img class="commImg" ng-src="{{'http://114.112.94.166'+goods.goods_introduction}}">
                        </div>
                        <div class="commDetails">
                            <p class="commDetail">{{goods.goods_name}}</p>
                            <div class="price">
                                <div>
                                    <span>¥4800积分</span>
                                    <del>{{goods.market_price}}</del>
                                </div>
                                <img class="shopCart" src="images/convertIcon.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!--详情结束-->
            </div>
        </div>
    </ion-content>

</ion-view>