<ion-view>
    <div class="appraise">
        <div class="aps-goods">
            <div class="aps-img">
                <img src="images/myOrder.png">
            </div>
            <div class="aps-title">
                <h4>阳澄湖大闸蟹</h4>
                <div class="star" ng-click="appraise.starFull($event)">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="aps-content">
            <textarea placeholder="请您写下您的购买体会和我们商品的评价"></textarea><span>10/100</span>
        </div>
        <button ng-click="appraise.backOrder()" class="btn
">提交</button>
    </div>


</ion-view>